Repository navapbc/labs-asp-experiments: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, check-types

lint-and-format:
  run: pnpm --dir mastra-test-app exec biome check --write {staged_files}
  stage_fixed: true

check-types:
  run: pnpm --dir mastra-test-app exec tsc --noEmit

docs: add logging steps for Vertex AI Anthropic setup guide
  mastra-test-app/docs/VERTEX_AI_ANTHROPIC_SETUP.md
Due: lint-and-format

update
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/scorers/languagePreference/index.ts
  mastra-test-app/src/mastra/scorers/languagePreference/prompt.ts
  mastra-test-app/src/mastra/scorers/toolHallucination/index.ts
  mastra-test-app/src/mastra/scorers/utils.ts
Due: lint-and-format, check-types

update
  mastra-test-app/src/mastra/scorers/languagePreference/index.ts
  mastra-test-app/src/mastra/scorers/languagePreference/prompt.ts
Due: lint-and-format, check-types

feat: add preprocess step and in/out zod schemas for languagePreference scorer
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/scorers/languagePreference/index.ts
  mastra-test-app/src/mastra/scorers/languagePreference/prompt.ts
Due: lint-and-format, check-types

updates
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/scorers/toolHallucination/index.ts
  mastra-test-app/src/mastra/scorers/toolHallucination/prompts.ts
Due: lint-and-format, check-types

scorers added to web-agent
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

changed lock file
  mastra-test-app/pnpm-lock.yaml
Due: none

removal
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

lock file
  mastra-test-app/pnpm-lock.yaml
Due: none

updating cors for vm
  mastra-test-app/src/mastra/index.ts
Due: lint-and-format, check-types

docs: adding latest notes on GCP Postrgres DB setup and connection
  mastra-test-app/docs/DEPLOYMENT_NOTES.md
  mastra-test-app/docs/GCP_POSTGRESQL_SETUP.md
Due: lint-and-format

Path conditions:
  lint-and-format: any of: mastra-test-app/**/*.{js,ts,jsx,tsx,json,md}
  check-types: any of: mastra-test-app/**/*.{ts,tsx}
