Repository navapbc/labs-asp-experiments: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, check-types

lint-and-format:
  run: pnpm --dir mastra-test-app exec biome check --write {staged_files}
  stage_fixed: true

check-types:
  run: pnpm --dir mastra-test-app exec tsc --noEmit

Fix BiomeJS and Lefthook for monorepo structure
  biome.json
  lefthook.yml
Due: none

update package.json
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/memory-agent.ts
Due: lint-and-format, check-types

Add regenerated pnpm-lock.yaml after merge
  mastra-test-app/pnpm-lock.yaml
Due: none

Remove markdownlint CI action
  .github/workflows/code-quality.yml
Due: none

Fix YAML blank lines linting error
  .github/workflows/code-quality.yml
Due: none

seed file
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/seed.ts
Due: lint-and-format, check-types

lock file
  mastra-test-app/pnpm-lock.yaml
Due: none

feat: improve step manager and database integration in web automation agent
  mastra-test-app/.gitignore
  mastra-test-app/DATABASE_SETUP.md
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/prisma/migrations/20250728212615_/migration.sql
  mastra-test-app/prisma/migrations/migration_lock.toml
  mastra-test-app/prisma/schema.prisma
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/mcp.ts
  mastra-test-app/src/mastra/tools/database-tools.ts
  mastra-test-app/src/seed-wic.ts
Due: lint-and-format, check-types

fix: add db files to parent gitignore
  .gitignore
Due: none

docs: add anthropic key to .env.example
  mastra-test-app/.env.example
Due: none

docs: add README for internal testing users
  mastra-test-app/README.md
Due: none

db: add migration for missing fields
  mastra-test-app/prisma/migrations/20250731222515_add_missing_fields/migration.sql
Due: none

Add CSV seeding with schema updates and duplicate handling for participant data
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/prisma/migrations/20250805184446_add_demographic_fields_and_nullable_updates/migration.sql
  mastra-test-app/prisma/schema.prisma
  mastra-test-app/src/mastra/tools/database-tools.ts
  mastra-test-app/src/mastra/types/participant-types.ts
  mastra-test-app/src/seed-csv.ts
Due: lint-and-format, check-types

docs: add troubleshooting steps and session management commands to README.md
  mastra-test-app/README.md
Due: none

Update README.md
  mastra-test-app/README.md
Due: none

fix: Add postinstall script with centralized prisma client
  mastra-test-app/package.json
  mastra-test-app/src/lib/prisma.ts
  mastra-test-app/src/mastra/tools/database-tools.ts
  mastra-test-app/src/seed-csv.ts
  mastra-test-app/src/seed-wic.ts
Due: lint-and-format, check-types

docs: move markdowns to docs/
  mastra-test-app/docs/DATABASE_SETUP.md
  mastra-test-app/docs/DEPLOYMENT_NOTES.md
  mastra-test-app/docs/LOGGING_SETUP.md
  mastra-test-app/docs/PLAYWRIGHT_MCP_GUIDE.md
Due: lint-and-format

chore: resolve prisma build errors
  mastra-test-app/package.json
  mastra-test-app/src/lib/prisma.ts
Due: lint-and-format, check-types

chore: enable ui features in production deployment
  mastra-test-app/src/mastra/index.ts
Due: lint-and-format, check-types

feat: setup simple authentication using jwt for playground login
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/auth-utils.ts
  mastra-test-app/src/mastra/index.ts
Due: lint-and-format, check-types

chore: fix mastra/auth middleware
  mastra-test-app/src/mastra/index.ts
Due: lint-and-format, check-types

chore: setup local MCP server for Exa
  mastra-test-app/src/mastra/mcp.ts
Due: lint-and-format, check-types

chore: resolve tracing issue
  mastra-test-app/docs/AUTHENTICATION_SETUP.md
  mastra-test-app/docs/DEPLOYMENT_NOTES.md
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/index.ts
Due: lint-and-format, check-types

chore: add gemini for web agent
  mastra-test-app/docs/DEPLOYMENT_OPTIONS.md
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

chore: add stealth args to playwright mcp
  mastra-test-app/src/mastra/mcp.ts
Due: lint-and-format, check-types

feat: setup playwright artifacts GCS storage
  mastra-test-app/.gitignore
  mastra-test-app/docs/DEPLOYMENT_NOTES.md
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/mcp.ts
Due: lint-and-format, check-types

ASP-99: Adding in language preference of participate to instructions
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

chore: cleanup unnecessary mount path
  mastra-test-app/docs/DEPLOYMENT_NOTES.md
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/mcp.ts
  mastra-test-app/src/mastra/tools/research-tools.ts
Due: lint-and-format, check-types

chore: cleanup gitignore
  mastra-test-app/.gitignore
Due: none

docs: cleanup artifacts details
  mastra-test-app/docs/DEPLOYMENT_NOTES.md
Due: lint-and-format

fix: outputDir arg value in mcp.ts
  mastra-test-app/src/mastra/mcp.ts
Due: lint-and-format, check-types

feat: migrate memory and traces to postgresstore
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/auth-utils.ts
  mastra-test-app/src/mastra/agents/data-ops-agent.ts
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/index.ts
  mastra-test-app/src/mastra/middleware.ts
  mastra-test-app/src/mastra/storage.ts
  mastra-test-app/src/mastra/tools/storage-tools.ts
Due: lint-and-format, check-types

scorers added to web-agent
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

feat: playwright artifacts prisma model, anthropicVertex provider
  mastra-test-app/.gitignore
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/prisma/migrations/20250814205016_add_playwright_artifacts/migration.sql
  mastra-test-app/prisma/schema.prisma
  mastra-test-app/src/mastra/agents/data-ops-agent.ts
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/artifact-watcher.ts
  mastra-test-app/src/mastra/mcp.ts
  mastra-test-app/src/mastra/storage-artifacts.ts
  mastra-test-app/src/mastra/tools/artifact-tools.ts
  mastra-test-app/src/mastra/types/artifact-types.ts
Due: lint-and-format, check-types

fix: remove vertex-anthropic provider
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

updates
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
  mastra-test-app/src/mastra/scorers/toolHallucination/index.ts
  mastra-test-app/src/mastra/scorers/toolHallucination/prompts.ts
Due: lint-and-format, check-types

feat: vertexai provider setup
  mastra-test-app/.env.example
  mastra-test-app/package.json
  mastra-test-app/pnpm-lock.yaml
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

feat: vertex-anthropic provider integration and docs
  mastra-test-app/.env.example
  mastra-test-app/.gitignore
  mastra-test-app/docs/VERTEX_AI_ANTHROPIC_SETUP.md
  mastra-test-app/package.json
  mastra-test-app/src/mastra/agents/web-automation-agent.ts
Due: lint-and-format, check-types

fix: lockfile out of date error
  mastra-test-app/pnpm-lock.yaml
Due: none

Path conditions:
  lint-and-format: any of: mastra-test-app/**/*.{js,ts,jsx,tsx,json,md}
  check-types: any of: mastra-test-app/**/*.{ts,tsx}
